* {
    box-sizing: border-box; 
   }
body {
     margin: 0;
   }

header, footer {
    display: flex;
    background: yellowgreen;
    height: 10vh;
  }

  header > headermiddle,
  header > headerleft,
  header > headerright{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 5px;
}

  
     /* CLASSES */
.image-container{
    flex: 0 0 10vh;
    width: 262px;
    height: 262px;
    margin: 10px;

    outline: solid 2px black;
}

.image-container:hover{
  opacity: 0.7;
  cursor: pointer;
  outline-color: red;
}


   /* ID'S */
   #main {
     display: flex;
     min-height: calc(100vh - 20vh);
   }
   #main > middle {
     flex: 1;
   }
   #main > vreklame, 
   #main > hreklame {
     flex: 0 0 20vw;
     background: beige;
   }
   #main > vreklame {
     order: -1;
   }

   #header > login{
    display: flex;
    flex: 1;
    width: 550px;
    height: 25px;

    align-items: center;
}

#add-photo{
    flex: 0 0 10vh;

    width: 262px;
    height: 262px;
    margin: 10px;
}
#add-photo:hover{
    opacity: 0.7;
}

