body{
    background-color: black;
}

/* Classes */
.top-container{
    background-color: blue;
    width: 1500px;
    height: 100px;
    margin: auto;

}
.middle-container{
    background-color: lightblue;
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
}
.left-container{
    background-color: gray;
    position:left;
    width: 100px;
    height: 500px;

}
.right-container{
    background-color: gray;
    position:right;
    width: 100px;
    height: 500px;
}